@model StoreFrontV2.DATA.EF.Models.OrderDetail

@{
    ViewData["Title"] = "Add Order Details";
}

<h1>@ViewData["Title"]</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            @*<div class="form-group">
                <label asp-for="ShipperId" class="control-label"></label>
                <select asp-for="ShipperId" class ="form-control" asp-items="ViewBag.ShipperId"></select>
            </div>*@
            @*<div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class ="form-control" asp-items="ViewBag.ProductId"></select>
            </div>*@
            <div class="form-group">
                <label asp-for="ShipperName" class="control-label"></label>
                <input asp-for="ShipperName" class="form-control" />
                <span asp-validation-for="ShipperName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippedCity" class="control-label"></label>
                <input asp-for="ShippedCity" class="form-control" />
                <span asp-validation-for="ShippedCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippedState" class="control-label"></label>
                <input asp-for="ShippedState" class="form-control" />
                <span asp-validation-for="ShippedState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippedCountry" class="control-label"></label>
                <input asp-for="ShippedCountry" class="form-control" />
                <span asp-validation-for="ShippedCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingCost" class="control-label"></label>
                <input asp-for="ShippingCost" class="form-control" />
                <span asp-validation-for="ShippingCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Order Details</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
