@{
    ViewData["Title"] = "Home";
}

<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						
						<div class="carousel-inner" id="homeCarousel">
							<div class="item active">
								<div class="col-sm-6">
								<h1><span>Pet</span>Express</h1>
									<h2>Best Food for your Pets</h2>
									<p>Pets need a healthy and well balanced diet to live a happy and healthy life. Shop the best best foods here.</p>
									<a asp-action="TiledProducts" asp-controller="Products" class="btn btn-primary get">Shop Now!</a>
								</div>
								<div class="col-sm-6">
									<img src="images/CatDog.jpg" class="girl img-responsive" alt="a picture of a cat and a dog" />
									
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<img src="images/Fish.jpg" class="girl img-responsive" alt="a picture of a fish" />
									
								</div>
								<div class="col-sm-6">
								<h1><span>Pet</span>Express</h1>
									<h2>Fish Supplies</h2>
									<p>All the best food and aquariums for your fish friends! </p>
								<a asp-action="TiledProducts" asp-controller="Products" class="btn btn-primary get">Shop Now!</a>
								</div>
							</div>
							
							<div class="item">
								<div class="col-sm-6">
									<h1><span>Pet</span>Express</h1>
									<h2>Shop Retiles</h2>
									<p>Get your terrarium and all your supplies for your turule, bearded dragon, iguana, and more...</p>
								<a asp-action="TiledProducts" asp-controller="Products" class="btn btn-primary get">Shop Now!</a>
								</div>
								<div class="col-sm-6">
									<img src="images/Lizard.jpg" class="girl img-responsive" alt="a picture of a lizard" />
									
								</div>
							</div>
							
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
	